

.title {
	color: lightsteelblue;
	text-align: center;
	background: -webkit-linear-gradient(#fff, lightsteelblue);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	text-align: center;
}

.btn-toolbar {
	margin-top: 0;
	margin-bottom: 0;
}

.card {
	border-radius: 5%;
	height: 189px;
	width: 135px;
	box-shadow: 4px 4px 12px #111;
	display: inline-block;
	margin: 20px 5px;
}

.card:hover {
	opacity: 0.8;
}

.box-header {
	text-align: center;
}

#ace-of-harts {
	background: url('../img/cards/ace-of-harts.jpg');
	background-size: cover;
}


#king-of-wolves {
	background: url('../img/cards/king-of-wolves.jpg');
	background-size: cover;
}

#ten-of-kraken {
	background: url('../img/cards/ten-of-kraken.jpg');
	background-size: cover;
}

.turned {
	background: url('../img/cards/card-back.jpg') !important;
	background-size: cover !important;
}