html {
        height: 100%;
    }
    body {
        background-image: url('../img/dark-blue-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
    }
    hr {
        height: 2px;
        border-color: teal !important;
        border-width: 2px !important;
    }

    .codeup {
        border-radius: 20px !important;
        padding: 40px;
        margin: 20px;
    }

    #main {
        background: -webkit-radial-gradient(left top, lightsteelblue, white);
        margin: 10px auto;
        width: 85%;
        border-style:groove;
        border-width: 3px;
        border-color: teal;
        border-radius: 20px;
    }

    #main h2, h3{
        color: ##19475E;
        text-shadow: 2px 2px 4px #779;
    }

    ul {
        font-size: 14pt;
    }

   