body {
  background-color: #222;
  color: #FFD;
  font-family: 'Audiowide', sans-serif;
  background-image: url(dark-table.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center;
  clear: both;
}

li {
  display: inline-block;
  padding: 3px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 36pt;
}
.wrapper {
  position: relative;
  width: 480px;
  margin: 0 auto;
}

.back {
  width: 480px;
  height: 480px;
  z-index: 0;
  background-color: #000;
  border-radius: 310px;
}

.pads {
  width: 225px;
  height: 225px;
  float: left;
  z-index: 1;
  margin: 7.5px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  opacity: 0.5;
}

.button1 {
  border-top-left-radius: 100%;
  background-image: -webkit-radial-gradient(center, #0F0, #080);
}

.button2 {
  float: left;
  border-top-right-radius: 100%;
  background-image: -webkit-radial-gradient(center, #F00, #800);
  clear: right;
}

.button3 {
  float: left;
  border-bottom-left-radius: 100%;
  background-image: -webkit-radial-gradient(center, #FF0, #880);
  clear: left;
}

.button4 {
  float: left;
  border-bottom-right-radius: 100%;
  background-image: -webkit-radial-gradient(center, #00F, #008);
}

.circle {
  position: absolute;
  top: 245px;
  left: 145px;
  width: 190px;
  height: 190px;
  background: #000;
  border-radius: 50%;
  z-index: 10;
  background-image: url(megusta.png);
  background-size: cover;
  background-position: center;

}

.level, .score {
  width: 50%;
  float: left;
  text-align: center;
}

.status {
  width: 100%;
  margin: auto;
  padding: 5px;
  margin: 10px auto;
}

.sButton {
  width: 30%;
  margin: 0 auto;
}

.start {
  height:34px;
  width:100%;
  border:1px solid #858fa6;
  background:#4a5775;
  background:-webkit-gradient(linear, left top, left bottom, from(#606c88), to(#3f4c6b));
  border-radius:5px;
  box-shadow:0px 0px 5px #000;
  color:#e5edff;
  font-size:24px;
  font-family: 'Audiowide', sans-serif;
  text-shadow:0px 0px 5px rgba(0, 0, 0, 0.75);
}

